<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CTOS</title>
   <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link href="{base_url('asset/bootstrap/css/bootstrap.min.css')}" rel="stylesheet">
  <!-- Font Awesome -->
 <link href="{base_url('asset/plugins/fa/css/font-awesome.min.css')}" rel="stylesheet">
 <link href="{base_url('asset/plugins/select2/select2.min.css')}" rel="stylesheet">
 <link href="{base_url('asset/plugins/iCheck/all.css')}" rel="stylesheet">
 <link rel="stylesheet" href="{base_url('asset/plugins/fontawesome-free-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css')}">
  <!-- Ionicons -->
  <link href="{base_url('asset/plugins/ionicons/css/ionicons.min.css')}" rel="stylesheet">
  <link href="{base_url('asset/plugins/datatables/dataTables.bootstrap.css')}" rel="stylesheet">
  <link href="{base_url('asset/plugins/datatables/buttons.dataTables.min.css')}" rel="stylesheet">
  
  <!-- Theme style -->
  <link href="{base_url('asset/plugins/alertifyjs/css/alertify.min.css')}" rel="stylesheet">
  <link href="{base_url('asset/plugins/daterangepicker/daterangepicker.css')}" rel="stylesheet">
  <link href="{base_url('asset/plugins/alertifyjs/css/themes/default.min.css')}" rel="stylesheet">
  <link href="{base_url('asset/plugins/iCheck/all.css')}" rel="stylesheet">

  <link href="{base_url('asset/dist/css/AdminLTE.min.css')}" rel="stylesheet">
  <link href="{base_url('asset/dist/css/custom.css')}" rel="stylesheet">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="{base_url('asset/dist/css/skins/_all-skins.min.css')}" rel="stylesheet">
  <link href="{base_url('asset/plugins/pace/pace.min.css')}" rel="stylesheet">
  <link href="{base_url('asset/dist/css/animate.css')}" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="{base_url()}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>CTOS</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>CTOS </b>WebApps</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="{base_url('asset/dist/img/user2-160x160.jpg')}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{base_url('asset/dist/img/user2-160x160.jpg')}" class="user-image" alt="User Image">
              <span class="hidden-xs">{$user->username}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{base_url('asset/dist/img/user2-160x160.jpg')}" class="img-circle" alt="User Image">
                <p>
                  <small>Register since {date('Y/M/d H:i:s',$user->created_on)}</small>
                  <small>Last Login {date('Y/M/d H:i:s',$user->last_login)}</small>
                </p>
              </li>
              <!-- Menu Body -->
              {*<li class="user-body">*}
                {*<div class="row">*}
                  {*<div class="col-xs-4 text-center">*}
                    {*<a href="#">Followers</a>*}
                  {*</div>*}
                  {*<div class="col-xs-4 text-center">*}
                    {*<a href="#">Sales</a>*}
                  {*</div>*}
                  {*<div class="col-xs-4 text-center">*}
                    {*<a href="#">Friends</a>*}
                  {*</div>*}
                {*</div>*}
                <!-- /.row -->
              {*</li>*}
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat" id="log-out">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{base_url('asset/dist/img/user2-160x160.jpg')}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{$user->first_name}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> {$user->company}</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
     {$menu}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Landing Pages
        <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

     {$user|@print_r}
      {*{$user->username}*}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="{base_url('asset/scripts/jquery-1.12.4.min.js')}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{base_url('asset/bootstrap/js/bootstrap.min.js')}"></script>
<script src="{base_url('asset/plugins/select2/select2.full.min.js')}"></script>
<script src="{base_url('asset/plugins/input-mask/jquery.inputmask.js')}"></script>
<script src="{base_url('asset/plugins/pace/pace.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/jquery.dataTables.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/dataTables.bootstrap.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/dataTables.buttons.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/buttons.flash.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/jszip.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/pdfmake.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/vfs_fonts.js')}"></script>
<script src="{base_url('asset/plugins/datatables/buttons.html5.min.js')}"></script>
<script src="{base_url('asset/plugins/datatables/buttons.print.min.js')}"></script>
<!-- SlimScroll -->
<script src="{base_url('asset/plugins/slimScroll/jquery.slimscroll.min.js')}"></script>
<!-- FastClick -->
<script src="{base_url('asset/plugins/fastclick/fastclick.js')}"></script>
<script src="{base_url('asset/plugins/alertifyjs/alertify.min.js')}"></script>
<script src="{base_url('asset/plugins/daterangepicker/moment.min.js')}"></script>
<script src="{base_url('asset/plugins/daterangepicker/daterangepicker.js')}"></script>
<script src="{base_url('asset/plugins/iCheck/icheck.min.js')}"></script>
<!-- AdminLTE App -->
<script src="{base_url('asset/dist/js/bootbox.min.js')}"></script>
<script src="{base_url('asset/dist/js/app.min.js')}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{base_url('asset/dist/js/demo.js')}"></script>

<script type="text/javascript">
    var logout = "{base_url('front/authController/logout')}"
  {literal}
  $(function(){
      $('.sidebar-menu').find('a').click(function(e){
        e.preventDefault()
        var dHref = $(this).attr('href')
        if(dHref !== '#')
        {
          $.get(dHref, function(data) {
              $('.content').html(data)
          }).fail(function (e) {
            // console.log(e.responseText)
            $('body').html('<pre>'+e.responseText+'</pre>')
          })
        }
      })
      $('#log-out').click(function () {
          $.get(logout,function (a) {
              alertify.alert('Logout Success', a.message,function(){location.reload()});
          })
      })
  });
  {/literal}
</script>

</body>
</html>
